.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.navBar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.navBar ul li{
    margin-right: 1em ;
}

.navBar ul li a{
    color: #fff;
    text-decoration: none;
}
.navBar ul li a:hover{
    color: #ffbb33;
}